.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NameCouplePet {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--green-dark);
    line-height: 22px;
    margin-top: 20px;
}

.GroupImages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 360px;
    height: 180px;
}

.GroupImages img:nth-child(2) {
    position: absolute;
}


/* FixBugs */
@media screen and (max-width: 375px) {

    .GroupImages {
        width: 100%;
    }

    .GroupImages img:nth-child(1), 
    .GroupImages img:nth-child(3) {
        width: 150px;
        height: 180px;
    }
}
